@import '../../styles/colors';

.selectContainer {
  padding: .3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  width: 100%;
  label {
    padding: .3rem;

    &:after {
      content: ':';
    }
  }

  select, input {
    border: 1px solid $greyBorder;
    padding: .3rem;
    &:focus, &:hover {
      border-color: $greyTextPrimary;
      outline: none;
    }
  }
}