$primaryLight: #1ed760;
$primaryDark: #1db954;
$white: #ffffff;
$blackText: #222326;
$black: #000;
$royalBlue: #2D46B9;
$grey: #919496;
$greyTextPrimary: #555555;
$greyTextSecondary: #A4A4A4;
$greyIcon: #979797;
$background: #F5F6FA;