@import "../styles/colors";

.main {
  margin: auto;
  box-sizing: border-box;
  padding: Min(2rem, 5vw);
  background-color: $background;
}

.card {
  width: Min(700px, 80vw);
}

.container{
  width: 100vw;
  height: 100vh;
}

.logo{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  span{
    color: $primaryLight;
  }
}