.artist {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  img {
    width: clamp(5rem,10vw,8rem);
    border-radius: 5px;
  }

  h5 {
    padding-left: 1rem;
    font-size: initial;
  }

  .index{
    position: absolute;
    top:1rem;
    right:1rem;
    font-weight: bold;
  }
}