@import "../styles/colors";

.button {
  margin: auto;
  color: $white;
  font-size: Min(1.5rem, 6vw);
  border: 0;
  padding: .5rem 1rem;
  background-color: $primaryDark;
  border-radius: 2rem;
  transition: all .3s ease;
  display: flex;
  align-items: center;

  &:focus {
    outline: none;
    background-color: $primaryLight;
    box-shadow: 0 5px 10px 0 $primaryLight;
  }

  &:hover {
    background-color: $primaryLight;
    cursor: pointer;
  }

  svg {
    padding-right: 0.2rem;
  }
}