@import "../styles/colors";

.error {
  color: $danger;
  white-space: pre-line;
}

.text {
  color: $greyTextPrimary;
  text-align: center;
}

.card {
  width: Min(700px, 80vw);
  height: fit-content;
}