@import '../styles/colors';

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.input {
  width: 100%;
  margin: 13px 0;
  border: 2px solid $greyBorder;
  padding: .5rem;
  color: $greyTextPrimary;
  font-size: 1rem;

  &:hover {
    border: 2px solid $greyTextSecondary;
  }

  &:focus {
    border: 2px solid $greyTextSecondary;
    outline: none;
  }
}

.button {
  font-size: Min(1rem, 4vw);
}

.tags {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;

  li {
    padding: .3rem;
    margin: .3rem;
    color: $white;
    background-color: $primaryLight;
    width: clamp(3.5rem, 15vw, 5rem);
    //width: 5rem;
    border-radius: 5px;
    font-size: clamp(.5rem, 1vw, 1rem);
    text-align: center;


    &:hover, &:focus {
      background-color: $danger;
      cursor: pointer;
      outline: none;
      span {
        display: none;
      }

      &:before {
        content: 'remove';
      }
    }
  }
}

.hint {
  color: $greyTextSecondary;
  font-weight: lighter;
  font-size: .7rem;
  padding: 1rem;
}