.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & img {
    width: Min(40vw, 200px);
    border-radius: 5px;
  }
}

.text {
  padding: 15px;

  & p {
    text-align: start;
  }
}