@import "../styles/colors";

.result {
  margin-top: 1rem;
  border-radius: 5px;
  color: white;
  padding: .5rem;
  background-color: $royalBlue;
  //width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: white;
  }
}

.error {
  background-color: $danger;
}

.success {
  background-color: $primaryLight;
}