@import "../styles/colors";

.label {
  text-transform: capitalize;
  margin-top: 2rem;
  display: flex;
  gap: 8px;
  align-items: end;
}

.infoIcon {
  display: flex;
  height: fit-content;
  &:hover {
    cursor: help;
  }
}

.description {
  padding: 0;
  text-align: start;
  color: $greyTextSecondary;
  font-weight: lighter;
}