.card {
  overflow-y: scroll;
  height: 90%;
  padding: 0;

  @media (max-width: 900px) {
    height: 100vh;
    margin: 1rem;
  }

  ol {
    padding: 0;
    width: 90%;
    margin: auto;
    list-style: none;
  }
}