@import "../styles/colors";

.track {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  img {
    width: clamp(5rem, 10vw, 8rem);
    border-radius: 5px;
  }

  .index{
    position: absolute;
    top:1rem;
    right:1rem;
    font-weight: bold;
  }
}

.description {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  h5 {
    margin: 0 0 .3rem;
    font-size: initial;
  }

  span {
    color: $greyTextSecondary;
    font-size: .8em;
    font-weight: lighter;
  }
}